* {
  padding:0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
  
}
body{
  width: 100vw;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #000000, #434343);
  background: linear-gradient(to right, #000000, #434343);
  overflow-x: hidden;
}
header{
  width: 100vw;
}
.header-container {
  width: 80%;
  margin: auto;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-container .logo {
  min-width: 125px;
}
.header-container .logo a{
  color: white;
  font-size: 24px;
  text-decoration: none;
  border: 1px solid white;
  padding:1rem;
  border-radius: 10px;
}
.header-container .logo a:hover{
  background-color:  rgb(114, 246, 90);
  color:black;
  transition: 0.5s;
}
.header-container .main-nav li{
  margin-left:40px;
  list-style: none;

}
.main-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
}
.menu_items {
  display: flex;
}
.btn_menu {
  font-size: 25px;
  color: white;
  cursor: pointer;
  display: none;
}
ul.show {
  top: 65px;
}
.header-container .main-nav a {
  color:white;
  text-decoration: none;
  font-size: 18px;
  padding:10px;
}
.header-container .main-nav a:hover {
  background-color: rgb(113, 246, 90);
  color: black;
  transition: 0.5s;
}
.main {
  width: 80%;
  margin: auto;
  margin-top: 3rem ;
  display: flex;
  box-shadow: 0 3px 16px rgba(113, 246, 90,0.3),0 3px 16px rgba(113, 246, 90,0.3);
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.main-content{
  width: 70%;
  max-width: 800px;
}
.main .main-content h1{
  color:white;
  font-size:50px;
  padding-left: 80px;
}
.icons {
  position: fixed;
  left: 0;
  top: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index:100;
}

.icon {
  color:  rgb(113, 246, 90);
  padding:0.7rem;
  display: flex;
  transition: all .5s;
}
/* .flaticon-001-facebook {
	background: #2E406E;
}

.flaticon-013-twitter-1 {
	background: #339DC5;
}

.flaticon-003-whatsapp {
  background: white;
  color: #00bb2d
}

.flaticon-010-linkedin {
	background: #0e76a8;
}
.flaticon-008-youtube {
	background: #E83028;
} */

.icon:first-child {
	border-radius:  0 1rem 0 0;
}

.icon:last-child {
	border-radius:  0 0 1rem 0;
}
.icon:hover{
  padding-left: 3rem;
  border-radius: 0 1rem 1rem 0;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}
.icons a{
  text-decoration: none;
}
.main .word {
  color: rgb(113, 246, 90);
}
.main figure{
  width: 30%;
  max-width: 300px;
  min-width: 200px;
  margin-left: 50px;
}
.main img{
  width: 100%;
  border-radius: 10px;
}
.abilities {
  width: 80%;
  margin: auto;
}
h2 {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 50px;
  color:white;
  font-size: 50px;
}
.abilities img {
  width:150px;
}
.abilities figure {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
.abilities .abilities-img {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 30px;
  border-radius: 10px;
}
.abilities .abilities-img figure{
  padding: 10px;
  border-radius: 10px;
}
.abilities .abilities-img figure:hover{
  background-color: rgb(113, 246, 90);
  color: black;
  transition: 0.5s;
}
.proyect-container {
  width: 80%;
  margin: auto;
  color:white;
  display:flex;
  justify-content:center;
  flex-wrap: wrap;
}
.proyect-container .proyect-all {
  background-color:  rgb(0, 0, 0,0.1);
  text-align: center;
  padding:20px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 3px 16px rgba(113, 246, 90,0.3),0 3px 16px rgba(113, 246, 90,0.3);
}
.proyect-container .proyect-content {
  max-width: 300px;
}
.proyect-title {
  font-size: 30px;
  margin: auto;
  margin-bottom: 20px;
  color:white;
}
.proyect-cursos {
  font-size: 13px;
  margin-bottom: 10px;
}
.proyect-date {
  font-size: 16px;
  margin-bottom: 10px;
}
.proyect-url a{
  text-align: center;
  width: 245px;
  font-size: 14px;
  margin-bottom: 10px;
}
.proyect-url a{
  color:white;
}
.proyect-details {
  font-size: 16px;
  margin-bottom: 10px;
}
.proyect-container img {
  width: 100%;
  transition: 0.5s;
}
.proyect-container figure{
  padding-top: 10px;
  width: 150px;
}
.certificados {
  width:80%;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.certificados .certificado{
  box-shadow: 0 3px 16px rgba(113, 246, 90,0.3),0 3px 16px rgba(113, 246, 90,0.3);
  margin:30px;
  border-radius: 10px;

}
.certificado p {
  font-size: 20px;
  color:white;
  padding: 5px;
  margin-top:10px;
}
.certificado figure {
  width: 300px;
  margin: 20px;
}
.certificado img {
  width: 100%;
  border-radius: 10px ;
}
.certificado .boton{
  padding: 5px;
  margin:auto;
  margin-bottom: 20px;
  border-radius: 3px;
  background-color: rgb(113, 246, 90);
  width: max-content;
}
.certificado a {
  text-decoration: none;
  color: black;
}
footer {
  width: 100%;
  height: 100px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}
.footer-container .logo a {
  color: white;
  font-size: 24px;
  text-decoration: none;
  border: 1px solid white;
  padding:1rem;
  margin-left: 20px;
  border-radius: 10px;
}
.footer-container .logo a:hover {
  background-color:  rgb(114, 246, 90);
  color:black;
  transition: all 0.5s;
}
.footer-container p {
  font-size: 24px;
  color:white;
}
@media screen and (max-width: 930px) {
  .main figure {
    display:none;
  }
  .header-container .logo a {
    font-size: 18px;
  }
  .menu_items li a {
    font-size: 16px;
  }
  .header-container {
    height: 65px;
  }
  .main-nav .menu_items {
    position: fixed;
    width: 100vw;
    height: calc(100% - 65px);
    background-color: #000000;
    top: -100vh;
    right: 0;
    text-align: center;
    transition: all .4s;
    flex-direction: column;
  }
  .menu_items li {
    margin:30px 0 0 0;
    line-height: 30px;
  }
  .menu_items li:hover {
    background: none;
  }
  .menu_items li a {
    font-size: 20px;
    color:black;
    font-weight: bold;
  }
  .menu_items li a:hover {
    color: rgb(114, 246, 90)
  }
  .main .main-content {
    width: 100%;
  }
  .main .main-content h1{
    font-size: 50px;
    padding:20px ;
  }
  .btn_menu {
    display: inline-flex;
  }
  .icons {
    position:absolute;
    top:0;
    left: 200px;;
    flex-direction: row;
  }
  .icon:hover {
    padding-left: 0rem;
    border-radius: 0;
    box-shadow: none;
  }
  .main .main-content h1{
    font-size: 40px;
    padding:20px ;
  }
}
@media screen and (max-width:810px){
  .icons {
    display: none;
  }
}
@media screen and (max-width: 530px){
  .main .main-content h1{
    font-size: 30px;
  }
  .footer-container p {
    font-size: 14px;
    color:white;
  }
  .footer-container .logo a {
    font-size: 16px;
  }  
}